{% extends "base.html.twig" %}

{% block title %}Bienvenue chez Emma
{% endblock %}

{% block body %}
	<header class="nav-header">
		<div class="nav-header-container">
			<div class="nav-header-top">
				<a href="" class="header-logo">
					<div class="header-logo-container">
						<img class="header-logo-img cursor" src="https://izidore.com/img/logos/izidore.gif" alt="Logo Izidore">
					</div>
				</a>
				<div class="header-searchbar">
					<form action="" class="header-form-searchbar">
						<div class="header-form-searchbar-div">
							<input type="text" class="header-form-searchbar-input">
						</div>
						<div class="header-logo-searchbar"></div>
					</form>
				</div>
				<div class="header-links">
					<nav class="header-links-container">
						<ul>
							<li>
								<a href="https://izidore.com/vide-appart-creation" class="btn btn-square green-btn cursor">Vendre</a>
							</li>
							<li>
								<div class="wishlist indicator cursor"></div>
							</li>
							<li>
								<div class="cart indicator cursor"></div>
							</li>
							<li>
								<a href="#">
									<img src="https://izidore.com/img/icons/user.svg" alt="" class="indicator cursor">
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="nav-header-down">
				<div class="nav-header-down-links">
					<nav class="header-links-container">
						<div class="nav-items-container">
							<div class="nav-items-new">
								<a href="https://izidore.com/catalogue?type=new">NOUVEAUTÉS</a>
							</div>
							<div class="nav-items">
								<span>VIDE-APPARTS</span>
							</div>
							<div class="nav-items">
								<span>MEUBLES</span>
							</div>
							<div class="nav-items">
								<span>ÉLECTROMÉNAGER</span>
							</div>
							<div class="nav-items">
								<span>DÉCORATION</span>
							</div>
							<div class="nav-items">
								<span>MARQUES</span>
							</div>
						</div>
						<div class="nav-items-container">
							<div class="nav-items">
								<span>COMMENT ÇA MARCHE ?</span>
							</div>
							<div class="nav-items">
								<span>CONSEILS</span>
							</div>
							<div class="nav-items">
								<span>BLOG</span>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
<main>
	{# Container products #}
	<div class="announce-main-view container-max-width d-lg-flex">
		<div
			class="order-lg-2 w-100 px-1 px-sm-3 pl-lg-4 pl-xxl-5 pr-lg-2 pt-3 pt-lg-5">
			{# Container map.products #}
			<div class="d-flex stuff-tile-grid align-items-stretch justify-content-between flex-wrap">{# Les produits contenus dans la table Product seront listés ic #}
				{# {% for product in products %}																																													{% endfor %} #}
			</div>
		</div>
	</div>
	{# Chez Emma #}
	<div class="home-presentation order-lg-1 flex-shrink-0"></div>
</main>{% endblock %}
