{% extends "base.html.twig" %}

{% block title %}Bienvenue chez Emma
{% endblock %}

{% block body %}
	<header class="nav-header">
		<div class="nav-header-container">
			<div class="nav-header-top">
				<a href="" class="header-logo">
					<div class="header-logo-container">
						<img class="header-logo-img" src="https://izidore.com/img/logos/izidore.gif" alt="Logo Izidore">
					</div>
				</a>
				<div class="header-searchbar">
					<form action="" class="header-form-searchbar">
						<div
							class="header-searchbar">
							{# TODO Vérifier l'utilité du select #}
							<select
								name="" id="" class="header-searchbar-select">{# TODO for search in searchbar blabla #}
							</select>
							<span>
								<input type="text">
							</span>
							<div class="header-logo-searchbar"></div>
						</div>
					</form>
				</div>
			</div>
			<div class="nav-header-down"></div>
		</div>
	</header>
	<main>
		{# Container products #}
		<div class="announce-main-view container-max-width d-lg-flex">
			<div
				class="order-lg-2 w-100 px-1 px-sm-3 pl-lg-4 pl-xxl-5 pr-lg-2 pt-3 pt-lg-5">
				{# Container map.products #}
				<div class="d-flex stuff-tile-grid align-items-stretch justify-content-between flex-wrap">{# Les produits contenus dans la table Product seront listés ic #}
					{# {% for product in products %}																																													{% endfor %} #}
				</div>
			</div>
		</div>
		{# Chez Emma #}
		<div class="home-presentation order-lg-1 flex-shrink-0"></div>
	</main>
{% endblock %}
