{% extends "base.html.twig" %}

{% block title %}Le vide-appart de Emma à Junhac | izidore
{% endblock %}

{% block body %}
	<main>
		<header>

			<div class="announce-header">
				<div class="announce-header-container">

					<div>
						<a
							href="https://izidore.com/catalogue/vide-apparts#5fe0882040b8b">{# TODO mettre flèche en bg : https://izidore.com/dist/images/arrow-left-green.656ad84f.svg #}
						</a>

						<h1 class="announce-header-title">
							<span>
								{# TODO Créer un effet de surbrillance #}
								<span></span>
							</span>
							<span class="announce-header-title">
								<span>BIENVENUE</span>
								{# TODO Récupérer nom en bdd #}
								<span>CHEZ EMMA</span>
							</span>
						</h1>

					</div>

					<div>
						<div class="wishlist indicator">
							<span>
								{# TODO Counter #}
							</span>
						</div>
						<div class="share">
							<img src="https://izidore.com/img/icons/send.svg" alt="" class="share-logo">
							<p>Envoyer à un ami</p>
						</div>
					</div>

				</div>
			</div>

			<div class="announce-cover">
				<div class="announce-cover-blur-image">
					<img src="https://izidore-production-bucket.s3.eu-west-3.amazonaws.com/media/cache/announce_cover_picture_blur/6f6c5f5ee0ce232670c4aa3e1b249514.jpeg">
				</div>
				<div class="announce-cover-image">{# TODO Mettre en bg : https://izidore-production-bucket.s3.eu-west-3.amazonaws.com/media/cache/announce_cover_picture_XL/6f6c5f5ee0ce232670c4aa3e1b249514.jpeg #}
					{# TODO Stocker puis récupérer en bdd #}
				</div>
				<div class="shadow"></div>
			</div>

			<div class="main-"></div>
		</header>
	</main>
{% endblock %}
