{% extends "base.html.twig" %}
{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<section class="seller-feed-container">
		<div
			class="seller-feed-content">
			{# TODO for feed in feedbacks A FAIRE !!!! #}
			<div class="feed-render">
				<h3>Luka</h3>
				<div class="feed-render-rating">
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
				</div>
				<div class="feed-render-comment">
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, consequuntur dolor eius dolore, autem dicta asperiores praesentium inventore hic quas quibusdam aperiam, quasi a. Molestiae voluptatibus dolore labore dolorum magnam!</p>
				</div>
			</div>
			<div class="feed-render">
				<h3>Marie</h3>
				<div class="feed-render-rating">
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
				</div>
				<div class="feed-render-comment">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium corporis vero consequuntur atque ex, facilis cum temporibus, magni aliquid ab alias quam nihil assumenda modi sit quos provident illo odit?</p>
				</div>
			</div>
			<div class="feed-render">
				<h3>Gaëtan</h3>
				<div class="feed-render-rating">
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
					<i class="fa-regular fa-star rating-star"></i>
				</div>
				<div class="feed-render-comment">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex veniam at mollitia architecto. Similique et dolores minima. Rerum facere, nam fuga ducimus eaque delectus placeat quibusdam ab maxime autem tenetur!</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
