{% extends "feedbacks/index.html.twig" %}
{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}

	<main class="body-container">

		<div class="body-content">

			<div class="left-container">
				<h2>
					<span>Votre expérience avec</span>
					<span class="title-container">
						<span class="headline-title"></span>
						<span
							class="feed-title">
							{# TODO Emma -> span #}
							Emma</span>
					</span>
				</h2>

				<form action="#" class="feed-form-container">
					<div class="feed-form-content">
						<div class="form-question mg15">
							<h3>
								Qu'avez-vous pensé de notre izigote Emma ?
							</h3>
						</div>
						{# TODO Mettre input:checkbox à la place #}
						<div
							class="form-answer-icon-container mg15">
							{# TODO Agrandir smiley #}
							<div class="form-answer-icon">
								<input type="checkbox" name="happy" id="">
									<i class="far fa-angry"></i>
								</input>
							</div>
							<div class="form-answer-icon">
								<input type="checkbox" name="happy" id="">
									<i class="far fa-frown-open"></i>
								</input>
							</div>
							<div class="form-answer-icon">
								<input type="checkbox" name="happy" id="">
									<i class="far fa-meh"></i>
								</input>
							</div>
							<div class="form-answer-icon">
								<input type="checkbox" name="happy" id="">
									<i class="far fa-smile"></i>
								</input>
							</div>
							<div class="form-answer-icon">
								<input type="checkbox" name="happy" id="">
									<i class="far fa-grin-hearts"></i>
								</input>
							</div>
						</div>
					</div>
					<div class="form-footer">
						<a href="" class="return-btn">Annuler</a>
						<button class="save-btn">Étape suivante</button>
					</div>
				</form>
			</div>

			<div class="right-container">
				<div class="right-content">
					<div>
						<div class="info-content">
							<h1>Votre avis nous intéresse 🦝</h1>
							<h3 class="subtitle-container">
								<span>Êtes-vous</span>
								<span class="title-container">
									<span class="headline-title"></span>
									<span
										class="feed-subtitle">
										{# TODO Emma -> span #}
										satisfait(e)</span>
								</span>
								<span>de votre achat ?</span>
							</h3>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

{% endblock %}
