{% extends "feedbacks/index.html.twig" %}

{% block body %}

	<main class="body-content">

		<div class="feedback-container">

			<div class="add-feedback">
				<h2>
					<span>
						<span class="headline-feedback"></span>
						<span class="title-feedback">Ajouter un avis</span>
					</span>
				</h2>
				<form action="#" class="form">
					<div></div>
				</form>
			</div>

			<div class="advice-feedback"></div>


		</div>
	</main>

{% endblock %}
