// TODO RESPONSIVE !!!!!!!!!!!!!!!!!!!!!!!!!!

body {
  font-family: "RobotoSlab";
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  color: #29362e;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  font-family: "RobotoSlab";
  color: #29362e;
  background-color: transparent;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

cursor {
  cursor: pointer;
}

li .btn {
  display: block;
  height: 40px;
  line-height: 38px;
}

li .img {
  display: inline-block;
}

nav {
  display: block;
}

h1,
.h1 {
  margin-bottom: 0;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.2;
}

.btn {
  border: 2px solid;
  padding: 0 22.5px;
  font-size: 1rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Poppins";
  box-shadow: 1px 1px 3px #f7f7f7;
}

.btn-square {
  border-radius: 4px;
}

.green-btn {
  background-color: #58b58d;
  border-color: #58b58d;
  color: #fff;
}

.yellow-btn {
  -webkit-appearance: none;
  border: 2px solid #ffd932;
  background-color: #ffd932;
  color: #29362e;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Poppins-SemiBold;
  box-shadow: 1px 1px 3px #f7f7f7;
}

.indicator {
  height: 23px;
  width: 23px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.body-content {
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  // margin-right: auto;
  // margin-left: auto;
  // display: block;
}
