body {
  background-color: #fff;
  box-sizing: border-box;
}

a {
  color: #29362e;
  background-color: transparent;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

cursor {
  cursor: pointer;
}

li .btn {
  display: block;
  height: 40px;
  line-height: 38px;
}

li .img {
  display: inline-block;
}

nav {
  display: block;
}

h1,
.h1 {
  margin-bottom: 0;
  // TODO importer font-family
  // font-family: "Poppins-Bold";
  font-weight: 500;
  line-height: 1.2;
}

.btn {
  border: 2px solid;
  padding: 0 22.5px;
  font-size: 1rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // TODO importer font-family
  // font-family: "Poppins-SemiBold";
  box-shadow: 1px 1px 3px #f7f7f7;
}

.btn-square {
  border-radius: 4px;
}

.green-btn {
  background-color: #58b58d;
  border-color: #58b58d;
  color: #fff;
}

.indicator {
  height: 23px;
  width: 23px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.body-content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
