// TODO Header

.nav-header {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  z-index: 1000025;
  /* TODO Enveler la height */
  height: 100px;
}

.nav-header-container {
  position: relative;
}

// TODO Header TOP

.nav-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-block;
  height: 40px;
  margin-left: 15px;
  position: relative;
  text-decoration: none;
}

.header-logo-img {
  height: 40px;
}

// SEARCHBAR
.header-searchbar-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
  overflow: auto;
  float: right;
}

.form-searchbar-container {
  display: flex;
  justify-content: flex-end;
  width: 85%;
  max-width: 600px;
  margin-top: -1px;
}

.form-searchbar {
  margin-bottom: 0;
  position: relative;
  border-radius: 22.5px;
  padding-right: 43px;
}

.form-searchbar-below-container {
  width: 100%;
  // TODO Créer une classe select
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.searchbar-selection {
  border-radius: 22.5px !important;
  padding-right: 43px;
  cursor: text;
  display: block;
  width: 100%;
  padding: 0 11.25px;
  background: #fff;
  border: 1px solid #e5e6e6;
  border-radius: 4px;
  font-size: 0.95rem;
  font-family: RobotoSlab-Regular;
  height: auto;
  min-height: 45px;
  line-height: 1;
}

// TODO A revoir -> placeholder
.searchbar-selection ul {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searchbar-selection ul li {
  max-width: 100%;
  list-style: none;
  float: left;
  white-space: nowrap;
}

.searchbar-input {
  width: 543.75px;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border-radius: 22.5px;
  margin-top: 0;
  line-height: 43px;
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.logo-searchbar {
  height: 45px;
  line-height: 43px;
  position: absolute;
  box-shadow: 0 13px 27px -5px hsla(180, 2%, 90%, 0.01),
    0 8px 16px -8px rgba(211, 214, 212, 0.5);
  outline: none;
}

.logo-searchbar i {
  font-size: 1.5rem;
  display: inline-block;
  font: normal normal normal 14px/1 "FontAwesome";
  text-rendering: auto;
}

.header-links {
  float: right;
  margin-right: 15px;
}

.wishlist {
  background-image: url("https://izidore.com/dist/images/heart.86886db7.svg");
  display: inline-block;
  transform: translateY(3px);
}

.cart {
  background-image: url("https://izidore.com/dist/images/cart.0ac22096.svg");
}

.header-links-container {
  height: 45px;
  display: block;
}

.header-links-container ul {
  display: flex;
  flex-direction: row;
  justify-content: flex;
  align-items: center;
  height: 60px;
}

.header-links-container ul li {
  display: block;
  margin-right: 7.5px;
  cursor: pointer;
  position: relative;
}

// TODO Header DOWN

.nav-header-down-container {
  height: 45px;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #d3d6d4;
  background-color: #fff;
}

.header-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 45px;
  border-top: 1px solid #d3d6d4;
  padding-left: 15px;
  flex-wrap: wrap;
}

.nav-links-container {
  display: flex;
}

.nav-news-container {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  line-height: 44px;
  border-bottom: 2px solid;
  border-bottom-color: currentcolor;
  border-color: transparent;
  margin-bottom: -2px;
  position: relative;
}

.label-news {
  font-family: "Poppins";
  font-weight: bold;
  color: #ff6157;
}

.nav-items {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 44px;
  padding: 15px;
}

.nav-item {
  padding: 15px;
  position: relative;
  padding: 0;
}

.nav-item span {
  padding: 15px;
}

// .label-normal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   padding: 0 15px;
// }

// .label-selected {
//   font-family: "Poppins";
//   font-weight: bold;
//   visibility: hidden;
// }
