@media screen and (min-width: 576px) {
  .main-view-products-container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .products-card {
    width: 47.5%;
  }

  // SIDE MENU
  .side-info-user-container {
    padding: 30px;
  }

  .side-view-map {
    height: 250px;
    background-color: #f7f7f7;
  }
}

@media screen and (min-width: 992px) {
  .main-view-products-container {
    padding: 90px 15px 0 45px;
    order: 2;
  }

  .side-view-user {
    margin-top: 75px;
  }

  .side-container {
    padding: 15px 7.5px;
  }
}

@media screen and (min-width: 1200px) {
  .side-view-user {
    width: 400px;
  }
}

@media screen and (max-width: 991.98px) {
  .side-view-user-container {
    margin: 0 -15px !important;
    padding: 0;
    width: calc(100% + 30px);
    max-width: calc(100% + 30px);
  }

  .side-info-user {
    justify-content: left;
  }
}
