<!DOCTYPE html>
<html>
	<head>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="/build/app.css">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="/build/runtime.js" defer></script>
			<script src="/build/app.js" defer></script>
		{% endblock %}
	</head>
	<body>
		<header class="nav-header">
			<div class="nav-header-container">
				<div class="nav-header-top">
					<a href="" class="header-logo">
						<div class="header-logo-container">
							<img class="header-logo-img cursor" src="https://izidore.com/img/logos/izidore.gif" alt="Logo Izidore">
						</div>
					</a>
					<div class="header-searchbar">
						<form action="" class="header-form-searchbar">
							<div class="header-form-searchbar-div">
								<input type="text" class="header-form-searchbar-input">
							</div>
							<div class="header-logo-searchbar"></div>
						</form>
					</div>
					<div class="header-links">
						<nav class="header-links-container">
							<ul>
								<li>
									<a href="https://izidore.com/vide-appart-creation" class="btn btn-square green-btn cursor">Vendre</a>
								</li>
								<li>
									<div class="wishlist indicator cursor"></div>
								</li>
								<li>
									<div class="cart indicator cursor"></div>
								</li>
								<li>
									<a href="#">
										<img src="https://izidore.com/img/icons/user.svg" alt="" class="indicator cursor">
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="nav-header-down">
					<div class="nav-header-down-links">
						<nav class="header-links-container">
							<div class="nav-items-container">
								<div class="nav-items-new">
									<a href="https://izidore.com/catalogue?type=new">NOUVEAUTÉS</a>
								</div>
								<div class="nav-items">
									<span>VIDE-APPARTS</span>
								</div>
								<div class="nav-items">
									<span>MEUBLES</span>
								</div>
								<div class="nav-items">
									<span>ÉLECTROMÉNAGER</span>
								</div>
								<div class="nav-items">
									<span>DÉCORATION</span>
								</div>
								<div class="nav-items">
									<span>MARQUES</span>
								</div>
							</div>
							<div class="nav-items-container">
								<div class="nav-items">
									<span>COMMENT ÇA MARCHE ?</span>
								</div>
								<div class="nav-items">
									<span>CONSEILS</span>
								</div>
								<div class="nav-items">
									<span>BLOG</span>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>

		<main class="body-content">
			<header class="header-bg">
				<div class="announce-header">
					<div class="announce-header-container">
						<div class="announce">
							<a href="https://izidore.com/catalogue/vide-apparts#5fe0882040b8b" class="arrow-left cursor"></a>

							<h1 class="announce-title">
								<span
									class="announce-title-container-light h1">
									{# TODO Créer un effet de surbrillance #}
									<span class="light h1"></span>
								</span>
								<span class="announce-title-container">
									<span class="title">BIENVENUE</span>
									{# TODO Récupérer nom en bdd #}
									<span class="title">CHEZ EMMA</span>
								</span>
							</h1>
						</div>
						<div class="announce-indicator">
							<div class="wishlist-container">
								<div class="wishlist-logo cursor">
									<span>
										{# TODO Counter #}
										10
									</span>
								</div>
							</div>
							<div class="share">
								<img src="https://izidore.com/img/icons/send.svg" alt="" class="share-logo cursor">
								<p class="share-text cursor">Envoyer à un ami</p>
							</div>
						</div>
					</div>
				</div>
				<div class="announce-header-cover">
					<div class="cover-blur-image">
						<img src="https://izidore-production-bucket.s3.eu-west-3.amazonaws.com/media/cache/announce_cover_picture_blur/6f6c5f5ee0ce232670c4aa3e1b249514.jpeg" class="blur-image">
					</div>
					<div class="announce-cover-image"></div>
					<div class="shadow"></div>
				</div>
			</header>
		</main>
	</body>
</html>
